In [24]:
# Path hack.
import sys, os
# sys.path.insert(0, os.path.abspath('..'))
sys.path.append(os.path.abspath('..') + "\\FEDEx\\")

import numpy as np
import time
import pandas as pd
from sklearn.cluster import KMeans, DBSCAN

In [28]:
from UserStudyInteractive import filter_

In [105]:
flights = pd.read_csv(os.path.abspath('') + "\\datasets\\flights_sampled.csv")

In [106]:
flights_embeddings = pd.read_csv(os.path.abspath('') + "\\datasets\\flights_sampled_embedding.csv")

In [56]:
flights = flights[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY']]

In [77]:
clusters = KMeans(n_clusters=8, random_state=0).fit_predict(flights_embeddings)

In [78]:
clustered_flights = flights.join(pd.DataFrame(data=clusters, columns=['cluster']))

In [79]:
clustered_flights.dropna()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,cluster
0,2015,7,23,4,DL,2197,N997DL,CMH,ATL,600,555.0,-5.0,14.0,609.0,91.0,82.0,64.0,447,713.0,4.0,731,717.0,-14.0,0
1,2015,2,15,7,OO,4760,N629BR,SLC,GTF,2002,1955.0,-7.0,26.0,2021.0,100.0,105.0,76.0,463,2137.0,3.0,2142,2140.0,-2.0,2
2,2015,2,26,4,UA,12,N57869,BOS,SFO,800,806.0,6.0,9.0,815.0,410.0,374.0,356.0,2704,1111.0,9.0,1150,1120.0,-30.0,1
3,2015,2,11,3,UA,1578,N37409,IAH,BOS,1559,1624.0,25.0,13.0,1637.0,218.0,203.0,178.0,1597,2035.0,12.0,2037,2047.0,10.0,3
4,2015,8,24,1,MQ,3381,N694MQ,MOB,DFW,1910,1922.0,12.0,8.0,1930.0,110.0,107.0,83.0,539,2053.0,16.0,2100,2109.0,9.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2015,10,19,1,MQ,3143,N519MQ,13930,11042,1743,1744.0,1.0,28.0,1812.0,80.0,83.0,48.0,316,2000.0,7.0,2003,2007.0,4.0,6
49996,2015,4,21,2,WN,255,N254WN,DAL,MCI,1410,1408.0,-2.0,18.0,1426.0,85.0,101.0,79.0,460,1545.0,4.0,1535,1549.0,14.0,4
49997,2015,3,5,4,EV,4096,N11551,ORD,CHS,1340,1339.0,-1.0,18.0,1357.0,132.0,133.0,109.0,760,1646.0,6.0,1652,1652.0,0.0,7
49998,2015,12,14,1,DL,1939,N353NB,PIT,ATL,1510,1505.0,-5.0,8.0,1513.0,115.0,103.0,86.0,526,1639.0,9.0,1705,1648.0,-17.0,4
49999,2015,6,10,3,MQ,3661,N522MQ,ORD,BDL,725,1110.0,225.0,17.0,1127.0,133.0,114.0,94.0,783,1401.0,3.0,1038,1404.0,206.0,0

# Explaining the embedding

In [ ]:
for cluster_id in np.unique(clusters):
    filter_(clustered_flights.dropna(), "Flights", "cluster", "==", cluster_id, ignore={})
    time.sleep(200)

,index,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,cluster
0,0,2015,7,23,4,DL,2197,N997DL,CMH,ATL,600,555.0,-5.0,14.0,609.0,91.0,82.0,64.0,447,713.0,4.0,731,717.0,-14.0,0
28,29,2015,4,20,1,DL,2531,N686DA,SLC,ATL,700,652.0,-8.0,14.0,706.0,212.0,200.0,181.0,1590,1207.0,5.0,1232,1212.0,-20.0,0
34,35,2015,3,30,1,B6,28,N629JB,MCO,EWR,905,901.0,-4.0,14.0,915.0,155.0,142.0,123.0,937,1118.0,5.0,1140,1123.0,-17.0,0
44,45,2015,8,8,6,MQ,3568,N693MQ,CVG,MIA,600,558.0,-2.0,13.0,611.0,155.0,138.0,120.0,948,811.0,5.0,835,816.0,-19.0,0
47,48,2015,8,21,5,EV,5910,N48901,BHM,ORD,916,926.0,10.0,11.0,937.0,128.0,111.0,93.0,584,1110.0,7.0,1124,1117.0,-7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49074,49981,2015,12,16,3,AA,347,N3KTAA,MSY,MIA,600,556.0,-4.0,19.0,615.0,111.0,118.0,90.0,675,845.0,9.0,851,854.0,3.0,0
49079,49986,2015,5,14,4,EV,4691,N16541,DAY,EWR,1110,1054.0,-16.0,10.0,1104.0,107.0,103.0,85.0,533,1229.0,8.0,1257,1237.0,-20.0,0
49080,49987,2015,12,24,4,AA,1620,N581AA,DFW,DEN,905,902.0,-3.0,25.0,927.0,129.0,130.0,98.0,641,1005.0,7.0,1014,1012.0,-2.0,0
49087,49994,2015,1,18,7,AA,1367,N578AA,TPA,DFW,853,850.0,-3.0,26.0,916.0,172.0,182.0,150.0,929,1046.0,6.0,1045,1052.0,7.0,0
49092,49999,2015,6,10,3,MQ,3661,N522MQ,ORD,BDL,725,1110.0,225.0,17.0,1127.0,133.0,114.0,94.0,783,1401.0,3.0,1038,1404.0,206.0,0